.business_wrapper {
  background: linear-gradient(
    180deg,
    #111111 29.17%,
    rgba(37, 37, 37, 0.5) 100%
  );
  padding-top: 60px;
}

.business {
  max-width: 85%;
  margin: 0 auto;
  h1 {
    font-size: 32px;
    margin-bottom: 32px;
    letter-spacing: 0.12em;
    @media (max-width: 485px) {
      font-size: 26px;
      margin-bottom: 20px;
    }
  }

  .advisory {
    img {
      padding: 0 32px;
      max-width: 500px;
      @media (max-width: 580px) {
        object-fit: contain;
        width: 115%;
        margin: 0 auto;
      }
      @media (max-width: 400px) {
        margin-top: -40px;
      }
    }

    @media (max-width: 1024px) {
      display: flex;
      justify-content: center;
    }
  }
  .advisory_logo {
    .imageContainer {
      width: 100%;
      margin-bottom: 24px;
      > div {
        position: unset !important;
      }
      .image {
        object-fit: contain;
        max-width: 309px !important;
        width: 100% !important;
        position: relative !important;
        height: unset !important;
      }
    }
    h2 {
      font-size: 20px;
      letter-spacing: 0.06em;
      text-transform: capitalize;
      margin-bottom: 16px;
      font-weight: 100;
    }
    p {
      font-size: 16px;
      line-height: 19px;
    }
    @media (max-width: 1024px) {
      text-align: center;
      margin-top: 20px;
    }
    @media (max-width: 580px) {
      margin-top: -8px;
    }
    @media (max-width: 400px) {
      margin-top: -20px;
    }
    img {
      margin-bottom: 6px;

      @media (max-width: 470px) {
        img {
          width: 100%;
        }
      }
    }

    .visit_btn {
      margin: 32px 0;
      @media (max-width: 1024px) {
        display: flex;
        justify-content: center;
      }
      button {
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 6px 32px;
        background: transparent;
        background: #00ce53;
        color: #fff;
        outline: none;
        border: 1px solid #00ce53;
        cursor: pointer;
        white-space: nowrap;
        font-weight: 100;
        font-family: var(--font-medium);
        img {
          width: 24px;
        }
      }
    }
  }

  .business_content_left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 104px;
    border-bottom: 1px solid rgb(54, 53, 53);
    @media (max-width: 1024px) {
      display: block;
    }
  }
  .business_content_right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    gap: 104px;
    padding: 34px 0;
    @media (max-width: 1024px) {
      display: block;
    }
    @media (max-width: 768px) {
      padding: 20px 0;
    }
    @media (max-width: 580px) {
      padding: 10px 0;
    }
  }
}
